<style>

header{
  background-color: orange;
  color: white;
  padding: 30px 20px;
  
}

nav{
  background-color: #00A6B3;
  color: #FFFFFF;
  padding: 20px;
}

main{
  width: 850px;
  margin: 35px auto;
}

div{
  margin-top: 40px;
  margin-left: 8px;
  margin-right: 8px;
}

h1{
  background-color: #F15B31;
  font-family: Raleway, sans-serif;
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
  font-size:45px;
  margin: 0;
  text-transform: uppercase;
}

h2{
  font-family: Raleway, sans-serif;
  color: #0D2C40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}

p{
  color:black;
  font-family:"Droid Serif", serif ;
  line-height: 26px;
  font-size:18px;
  text-align: justify;
}

body{
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
}

footer{
  text-transform: uppercase;
  padding: 0 20px;
  background: #0d2c40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}

.copyright {
  font-family: "Raleway", sans-serif;
  float: left;
}

.message {
  font-family: "Raleway", sans-serif;
  float: right;
}

.clearfix:all {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

img {
  margin: 30px 8px 0 8px;
}

#objective {
  display: inline;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  border: 2px
}
#objective:hover {
  background: yellow;
}

a {
  color: white;
  font-size: 18px;
  font-weight: 600px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  margin: 0 20px;
}

a:hover {
  border-bottom: 2px solid white;
}


.name{
  color: #F15B31;
  font-weight: 700;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>